* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

i,
b,
strong,
em {
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

input {
  outline: none;
}

button {
  outline: none;
  border: 0;
}
