.diary-list {
  height: 100%;
  background: url(/img/background.png);
  display: flex;
  flex-direction: column;
  .header {
    height: 0.6rem;
    display: flex;
    align-items: center;
    padding: 0 0.16rem;
    i {
      font-size: 0.17rem;
      color: #fff;
    }
    span {
      flex: 1;
      text-align: center;
      font-weight: bold;
      color: #fff;
    }
  }
  .diary-box {
    padding: 0 0.16rem;
    height: 100%;
    overflow: auto;
    margin-bottom: 0.1rem;
    .diarylist {
      display: flex;
      width: 3.45rem;
      height: 1.025rem;
      background: #dff4ee;
      border-radius: 0.1rem;
      margin-top: 0.15rem;
      margin-bottom: 0.2rem;
      box-shadow: 0 0.1rem 0 0 #b9eadb;
      .dateTime {
        width: 0.8rem;
        height: 1.03rem;
        padding: 0.35rem 0.25rem;
        line-height: 0.21rem;
        border-right: 2px dashed #dedede;
        h4 {
          font-size: 0.125rem;
          color: #333333;
        }
        span {
          color: #999;
          font-size: 0.1rem;
        }
      }
      .diarycontent {
        padding: 0.18rem 0.16rem;
        line-height: 0.18rem;
        font-size: 0.12rem;
        color: #929292;
      }
    }
  }
}
