.container .detail-box .header {
  line-height: 0.6rem;
  display: flex;
  align-items: center;
  padding: 0 0.15rem;
}

.container .detail-box .header i {
  font-size: 0.17rem;
}

.container .detail-box .header span {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.container .detail-box .pine_tree {
  height: 2.8rem;
  width: 100%;
}

.container .detail-box .tree-intro {
  position: relative;
  z-index: 1000;
  width: 3.45rem;
  height: 0.74rem;
  margin: 0 0.15rem;
  padding: 0 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -0.5rem;
  background: #fff;
  border-radius: 0.05rem;
  box-shadow: 0 0 0.01rem 0.001rem #ccc;
}

.container .detail-box .tree-intro .intro-left {
  display: flex;
  justify-content: space-between;
}

.container .detail-box .tree-intro .intro-left .treename {
  font-size: 0.16rem;
  font-weight: bold;
}

.container .detail-box .tree-intro .intro-left .treeprice {
  color: #30b48f;
  font-size: 0.16rem;
  font-weight: bold;
}

.container .detail-box .tree-intro .intro-right {
  font-size: 0.1rem;
  color: #a3a3a3;
}

.container .detail-box .tree-history {
  width: 3.45rem;
  margin: 0 0.15rem;
  padding: 0.18rem 0.15rem;
  background: #fff;
  margin-top: 0.16rem;
}

.container .detail-box .tree-history h4 {
  margin-bottom: 0.18rem;
}

.container .detail-box .tree-history .history-text {
  line-height: 0.2rem;
  color: #bbbbbb;
  font-size: 0.11rem;
}

.container .detail-box .middle {
  display: flex;
  height: 0.4rem;
  width: 3.45rem;
  margin: 0 0.15rem;
  justify-content: center;
  align-items: center;
}

.container .detail-box .middle .line {
  width: 0.28rem;
  height: 0;
  border: 0.01rem solid #a4a4a4;
  margin: 0 0.08rem;
}

.container .detail-box .middle .tree-detail {
  color: #a4a4a4;
  font-size: 0.1rem;
}

.container .detail-box .pro-pic {
  margin: 0 0.15rem;
  width: 3.45rem;
  height: 1.18rem;
  border-radius: 0.05rem;
}

.container .agreement {
  height: 0.82rem;
}

.container .agreement .agree-top {
  display: flex;
  align-items: center;
}

.container .agreement .agree-top a {
  color: #5ec5a8;
}

.container .agreement .detailadopt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.15rem;
}

.container .agreement .detailadopt a {
  width: 2.6rem;
  height: 0.4rem;
  background: #0fa87d;
  color: #fff;
  border-radius: 0.2rem;
  display: block;
  text-align: center;
  line-height: 0.4rem;
}

.container .agreement .detailadopt .service {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container .agreement .detailadopt .service i {
  font-size: 0.2rem;
  color: #bcbcbc;
}

.container .agreement .detailadopt .service p {
  color: #bcbcbc;
  font-size: 0.09rem;
}
